{% extends 'auth/auth_layout.html' %} {% block title %} {{ title }} {% endblock %} {% block content%}





<div class="login">
    {% include "includes/alert.html" %}
    <h1 style="font-size: 30px; font-weight: bold; color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Better Buys Everyday Essential Comparision Application</h1>

    <center>
        <img src="../static/user.png" width="200" height="200">
    </center>
    <br>
    <div class="links">
        <a style="font-size: xx-large;" href="{{ url_for('login') }}" class="active">Login</a>
        <a style="font-size: xx-large;" href="{{ url_for('register') }}">Register</a>
    </div>

    <form action="{{ url_for('login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>

        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input style="font-size: xx-large;" type="submit" value="Login">
    </form>


</div>
{% endblock %}